{{!< default}}

<div class="contact">
  <div class="sbg-box">
    <img alt="bala" src="{{asset 'images/safari/zebra.jpg'}}" />
    <h1>day and trips</h1>
  </div>

  <div class="content">


    <div class="form-box">

      <h3>Send Us A Message</h3>
      <p>
        You can Contact Machame Ascent tours and travel using our Hotline Phone #, Email us through our general email address or send us Email using online contact form.
      </p>


      <form action="https://formspree.io/f/myzyykad" method="POST" id="contact-form">
        <input type="text" id="name" name="name" placeholder="您的姓名*" required>
        <input type="email" id="email" name="email" placeholder="您的邮件*" required>
        <input type="number" placeholder="电话号码" required>
        <input type="txt" placeholder="地址" required>
        <textarea form="contact-form" cols="2" id="" name="" rows="1" placeholder="额外信息"></textarea>
        <p>
          Your data is always safe with us. We will only contact you in conjunction with your enquiry and your details are stored securely in the meantime. We do not work with third party marketing organisations.
        </p>
        <input type="submit" value="提交">
      </form>
    </div>

    <div class="number-box">
      <div class="contact-way">
        <h3>call us</h3>
        <p>
          Our lines are open 24 hours a day 7 days a week for  general enquiries.
        </p>
        <h2>+86 18818881888</h2>
        <h2>+86 18818881888</h2>
      </div>

      <div class="line"></div>

      <div class="contact-way">
        <h3>Email us</h3>
        <p>
          Our lines are open 24 hours a day 7 days a week for  general enquiries.
        </p>
        <h3>info@machameascenttourstravel.com</h3>
      </div>

    </div>

  </div>

</div>
