{{!< default}}


<div class="page-common">
  <div class="sbg-box">
    <img alt="bala" src="{{asset 'images/safari/zebra.jpg'}}" />
    <h1>day and trips</h1>
  </div>

  <div class="c-wrapper1">

    <div class="card-box">

      {{> dashed-card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> dashed-card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> dashed-card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> dashed-card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> dashed-card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> dashed-card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

    </div>
  </div>

</div>
<script>

document.addEventListener('DOMContentLoaded', function() {

  /* const divs = document.querySelectorAll('.card-solid')
   * const arr = Array.from(divs)
   * arr.forEach(item => {
   *   item.addEventListener('click', function() {
   *     const title = item.getAttribute('data-title');
   *     location.href = location.href + title
   *   });
   * }) */

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate');
      }
    });
  }, {
    threshold: 0.1
  });

  const classNameList = ['.card-solid', '.card-dashed']
  classNameList.forEach(name => {
    document.querySelectorAll(name).forEach(div => {
      observer.observe(div);
    });
  })

});
</script>
