{{!< default}}


<div class="safari">
  <div class="sbg-box">
    <img alt="bala" src="{{asset 'images/safari/zebra.jpg'}}" />
    <h1>Safari and tours</h1>
  </div>

  <div class="c-wrapper1">

    <div class="card-box">

      {{> card
        title="northern-tanzania-safari"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

    </div>
  </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const divs = document.querySelectorAll('.card-solid')
  const arr = Array.from(divs)

  arr.forEach(item => {
    item.addEventListener('click', function() {
      const title = item.getAttribute('data-title');
      location.href = location.href + title
    });
  })
});
</script>
