{{!< default}}


<div class="safari">
  <div class="sbg-box">
    <img alt="bala" src="{{asset 'images/safari/zebra.jpg'}}" />
  </div>

  <div class="c-wrapper1">

    <div class="card-box">

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

      {{> card
        title="Hello!"
        desc="This is my custom component."
        imageSrc="images/home/spider.jpeg"
      }}

    </div>
  </div>

</div>
