
:root {
  --btn-color: #7B995C;
}
* {
  box-sizing: border-box;
}

/* --------- home1 ------------ */
.btn-box {
  margin-top: 18px;
  button {
    background-color: rgba(0, 0, 0, 0.75);
    font-family: Roboto;
    text-transform: uppercase;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    border: none;
    /* line-height: 3em; */
    padding: 10px 28px;
    border-radius: 30px;
  }
  button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

/* ------------ */

button {
  color: white;
}

.home2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  aspect-ratio: 16 / 6; /* 宽高比设置为 16:9 */
  background-color: #121211;

  .home2-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .home2-right {
    padding: 50px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: white;
    --fontSize: 20;
    line-height: 2;
    h1 {
      font-size: 2em;
      color: white;
    }
    button {
      margin-top: 20px;
      background-color: #7B995C;
      border: none;
    }
    button:hover {
      background-color: #DBB568;
    }
  }
}



.home3 {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.intro-grid {
  position: relative;
  overflow: hidden;
  padding: 5px;
  aspect-ratio: 1 / 1;
}

.intro-grid span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.intro-grid img {
  margin-left: -20px;
  position: absolute;
  left: -20px;
  top: 0;
  /* transition: transform 0.5s ease!important; */
  transition: left 0.5s ease!important;
}

.intro-grid p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 1.5em;
  margin: 0;
  transition: transform 0.5s ease!important;
  z-index: 2;
}

.intro-grid:hover img {
  /* transform: translateX(20px); */
  left: 0px;
}

.intro-grid:hover p {
  transform: translateY(-20px);
}

/* 响应式设计 */
@media (max-width: 1200px) {
  .home3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .home3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .home4-desc {
    padding: 0 50px;
  }

  .card {
    width: 50%!important;
  }

}

@media (max-width: 600px) {
  .home3 {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%!important;
  }
}


/* ----------- home4  ------------*/
.home4 {
  margin-top: 36px;
  overflow: hidden;
  width: 100%;
  text-align: center;

  .home4-desc {
    text-align: center;
    display: inline-block;
    max-width: 800px;
    margin-left: calc(-4% / 2);
    margin-right: calc(-4% / 2);
  }

  .h4-safari {
    width: 100%;
    display: flex;
    justify-content: center;
    .card-box {
      max-width: 1185.6px;
      display: flex;
      flex-wrap: wrap;
      /* flex: 1; */
    }

    .card {
      margin-top: 20px;
      padding: 0 10px;
      width: 33.33%;
      .item-box {
        border-width: 1px 1px 4px 1px;
        border-color: #7b995c;
        border-style: solid;
        border-radius: 8px 8px 8px 8px;
        overflow: hidden;
        padding: 8px;
        .img-box {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          line-height: 1;
          overflow: hidden;
          img {
            vertical-align: top;
            box-shadow: none !important;
            max-width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        h3 {
          margin-top: 10px;
          margin-bottom: 16px;
        }
        p {
          margin-bottom: 20px;
        }
        .btn-box {
          button {
            font-weight: 800;
            width: 148px;
            height: 38px;
            color: white;
            /* border-color: #785510; */
            border: none;
            border-radius: 0 0 0 0;
            background: var(--btn-color);
          }
        }
      }
    }
  }
}

/* ----------- home5  ------------*/

.home5 {
  width: 100%;
  background-size: cover;
  height: 600px;
  margin-top: 80px;
}

.footer-bg {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &>div {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .f-left {
    p {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

.f-middle {

  h3 {
    color: #e56f1b;
  }
  .footer-nav {
    list-style: none;
    li {
      line-height: 2em;
      color: white!important;
    }
    li:hover {
      color: #e56f1b!important;
    }
  }
}

.f-right {
  h3 {
    color: #e56f1b;
  }

  .contact-box {
    margin-top: 20px;
    p {
      line-height: 2em;
    }
  }
}

.f-bottom {
  background: #202326;
  text-align: center;
  color: white;
}


/* safari */
.safari {
  border: 1px red solid;
}
