.page-common {
  .sbg-box {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: contain;
    }
    h1 {
      position: absolute;
      top: calc(50% - 53px);
      left: 10%;
      font-size: 4em;
      color: white;
    }
  }

  .c-wrapper1 {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;

    .card-box {
      width: 80%;
      max-width: 1185.6px;
      display: flex;
      flex-wrap: wrap;
    }
  }

}
