.safari {
  .sbg-box {
    overflow: hidden;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .c-wrapper1 {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;

    .card-box {
      width: 80%;
      max-width: 1185.6px;
      display: flex;
      flex-wrap: wrap;
    }
  }

}
